@charset "UTF-8";
.str0 {stroke:#6E2425;stroke-width:0.96;stroke-miterlimit:2.61313}
.str1 {stroke:#663333;stroke-width:1.92;stroke-miterlimit:2.61313}
.str2 {stroke:#663333;stroke-width:1.28;stroke-miterlimit:2.61313}
.fil0 {fill:none}
.fil3 {fill:#00CCFF}
.fil5 {fill:#663300}
.fil2 {fill:#990000}
.fil6 {fill:#996633}
.fil1 {fill:#CC9933}
.fil4 {fill:white;fill-opacity:0.501961}
